/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto 30px auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

header, nav, .title {
    margin-bottom: 20px;
}

h4 {
    padding: 20px 0 10px;
}

p {
    font-size: 12px;
}

.little-content, .content {
    float: left;
}

.black-banner {
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
    display: inline-block;
    width: 100%;
}

.black-banner > * {
    color: white;
}

.banner, 
.black-banner, 
.profit, 
.work, 
.idea{
    border-radius: 20px;
}

.profit, .work, .idea {
    width: 100%;
    height: 200px;
    background-size: cover;
    opacity: 0.6;
}

/* header */
.logo {
    width: 15%;
}

/* nav */
nav {
    margin-top: 30px;
}
.link > li {
    display: inline-block;
    list-style: none;
}
.link a {
    padding: 10px 10px 10px 0;
    font-size: 18px;
    color: grey;
    text-decoration: none;
}

.link a:hover {
    color: black;
}

.banner {    
    height: 450px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 50%;

}

.banner  h2 {
    padding: 300px 200px 0 50px;
}

.banner  p {
    padding: 0 350px 0 50px;
}

/* main */
main {
    padding-bottom: 20px;
}

.title > p {
    color: grey;
}

.little-content {
    width: 24%;
}

.little-content > p {
    color: gray;
}
.profit {
    background-image: url(../img/img-1.jpg);
    background-position: 0 -20px;
}

.content {
    width: 50%; 
    margin: 0 1%;
}

.content > p {
    color: gray;
}

.work {
    background-image: url(../img/banner-2.jpg);
    background-position: 0 -70px;
}

.idea {
    background-image: url(../img/img-3.jpg);;
    background-position: -40px 0;
}

/* footer */
footer {
    margin-top: 10px;
}

footer > p {
    padding: 10px 0;
    text-align: center;
    font-size: 20px;
}

.heart {
    color: red;
}